.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo {
    height: 60px;
    width: auto;
    margin-right: 0px;
}

.header-title {
    margin-left: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-menu {
    height: 100%;
    border-right: 0;
    background: transparent;
    padding-top: 16px;
}
